<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<form action="#" th:action="@{/add-reg}" th:object="${registrationForm}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}" /></td>
      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
    <tr>
      <td>Surname:</td>
      <td><input type="text" th:field="*{surname}" /></td>
      <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
    </tr>
    <tr>
      <td>E-Mail:</td>
      <td><input type="text" th:field="*{mail}" /></td>
      <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">E-mail Error</td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="text" th:field="*{password}" /></td>
      <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
    </tr>
    <tr>
      <td><button type="submit">Submit</button></td>
    </tr>
  </table>
</form>
</body>
</html>